# Hoist au root node_modules pour que TypeScript (VSCode) et ESLint les trouvent
# depuis n'importe quel package du monorepo (requis avec transpilePackages)
public-hoist-pattern[]=@types/*
public-hoist-pattern[]=eslint*
public-hoist-pattern[]=typescript
